.agresti-8 {
  position: relative;
  width: 650px;
  height: 336px;
  margin: 50px auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 3px black solid;
  img {
    position: absolute;
  }

  #agresti-grain {
    width: 100%;
    z-index: 101;
    opacity: 0.1;
    left: 0px;
  }

  #agresti-8-horizon {
    width: 105%;
    left: -4px;
    top: -4px;
  }

  #agresti-8-pen {
    width: 156px;
    top: -16px;
    left: 331px;
    z-index: 11;
  }
  #agresti-8-pen-shadow {
    width: 181px;
    top: 204px;
    left: 278px;
    z-index: 11;
    // -ms-transform: skewX(-55deg); /* IE 9 */
    // -webkit-transform: skewX(-55deg); /* Safari */
    //     transform: skewX(-55deg);
  }
  #agresti-8-sun {
    width: 75px;
    top: 28px;
    left: 365px;
  }
  #agresti-8-shadow-sun {
    width: 116px;
    top: 252px;
    left: 146px;
  }
  #ink {
    position: absolute;
    z-index: 20;
    bottom: 78px;
    right: 306px;
  }
  #shadow {
    position: absolute;
    z-index: 20;
    top: 187px;
    right: 306px;
    width: 483px;
  }
}
