.frame  {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 100px auto;
  background: #77D0F6;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 1px black solid;
  img {
    width: 100%;
    position: absolute;
    // opacity: 0.6;
  }
  #sky {
    width: 101%;
    // display: none;
  }

  #net {
    width: 34%;
    transform: translate(165px, -48px);
    position: absolute;
    z-index: 90;
    animation-name: netMovement;
    animation-duration: 2s;
  }
  @keyframes netMovement {
    from {transform: translate(165px, -70px);}
    to {transform: translate(165px, -48px);}
  }

  #backboard {
    width: 65%;
    transform: translate(88px, -94px);
    position: absolute;
    z-index: 100;
    animation-name: backboardMovement;
    animation-duration: 2s;
  }
  @keyframes backboardMovement {
    from {transform: translate(88px, -106px);}
    to {transform: translate(88px, -94px);}
  }

  #basketball {
    width: 129%;
    transform: translate(4px, -13px);
    position: absolute;
    animation-name: basketballRotation;
    animation-duration: 2s;
  }
  @keyframes basketballRotation {
    from {transform: translate(-1px, 2px);}
    to {transform: translate(4px, -13px);}
  }

  #basketball-frame {
    width: 115px;
    height: 115px;
    transform: translate(196px, 186px);
    position: absolute;
    border-radius: 178px;
    background: #FF5D3E;
    overflow: hidden;
    border: 2px solid black;
    animation-name: basketballMove;
    animation-duration: 2s;
  }

  @keyframes basketballMove {
    from {transform: translate(196px, 235px);}
    to {transform: translate(196px, 186px);}
  }

  #cloud2 {
    width: 58%;
    transform: translate(367px, -47px);
    position: absolute;
    animation-name: cloud2Move;
    animation-duration: 2s;
  }

  @keyframes cloud2Move {
    from {transform: translate(367px, -37px);}
    to {transform: translate(367px, -47px);}
  }

  #cloud8 {
    width: 45%;
    transform: translate(-60px, 189px);
    position: absolute;
    animation-name: cloud8Move;
    animation-duration: 2s;
  }

  @keyframes cloud8Move {
    from {transform: translate(-60px, 199px);}
    to {transform: translate(-60px, 189px);}
  }

  #cloud11 {
    width: 86%;
    transform: translate(-78px, -65px);
    position: absolute;
    animation-name: cloud11Move;
    animation-duration: 2s;
  }

  @keyframes cloud11Move {
    from {transform: translate(-78px, -55px);}
    to {transform: translate(-78px, -65px);}
  }

  #cloud5 {
    width: 61%;
    transform: translate(351px, 216px);
    position: absolute;
    animation-name: cloud5Move;
    animation-duration: 2s;
  }

  @keyframes cloud5Move {
    from {transform: translate(351px, 226px);}
    to {transform: translate(351px, 216px);}
  }

  #face {
    width: 19%;
    transform: translate(198px, 450px);
    position: absolute;
    animation-name: faceMove;
    animation-duration: 2s;
  }

  @keyframes faceMove {
    from {transform: translate(198px, 445px);}
    to {transform: translate(198px, 450px);}
  }


  #left-arm {
    width: 24%;
    transform: translate(107px, 288px);
    position: absolute;
    animation-name: leftArmMove;
    animation-duration: 2s;
  }

  @keyframes leftArmMove {
    from {transform: translate(107px, 305px) rotate(4deg);}
    to {transform: translate(107px, 288px) rotate(0deg);}
  }

  #right-arm {
    width: 23%;
    transform: translate(285px, 321px);
    position: absolute;
    animation-name: rightArmMove;
    animation-duration: 2s;
  }

  @keyframes rightArmMove {
    from {transform: translate(285px, 304px);}
    to {transform: translate(285px, 321px);}
  }
}
