body {
  background: #77D0F6;
}
.frame  {
  position: relative;
  width: 750px;
  margin: 100px auto;
  background: white;
  text-align: center;
  overflow: hidden;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 25px;
  }
}
