.agresti {
  position: relative;
  width: 416px;
  height: 500px;
  background: #F3E626;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 2px black solid; }
  .agresti img {
    position: absolute; }
  .agresti #agresti-grain {
    height: 100%;
    z-index: 101;
    opacity: 0.14;
    left: -30px; }
  .agresti #agresti-background {
    width: 313px;
    left: 105px; }
  .agresti #agresti-chest {
    top: 147px;
    left: 248px;
    width: 29px; }
  .agresti #agresti-face {
    top: 41px;
    left: -2px;
    width: 176px; }
  .agresti #agresti-head {
    top: 132px;
    left: 241px;
    width: 34px; }
  .agresti #agresti-inner-window {
    position: absolute;
    left: 0;
    width: 420px; }
  .agresti #agresti-left-arm {
    width: 43px;
    top: 164px;
    left: 215px; }
  .agresti #agresti-right-arm {
    top: 155px;
    left: 263px;
    width: 45px; }
  .agresti #agresti-right-leg {
    width: 35px;
    top: 210px;
    left: 250px; }
  .agresti #agresti-left-leg {
    width: 18px;
    top: 215px;
    left: 247px; }
  .agresti #agresti-torso {
    width: 43px;
    top: 173px;
    left: 244px; }
  .agresti #agresti-right-curtain {
    left: 266px;
    top: 102px;
    width: 83px; }
  .agresti #agresti-left-curtain {
    top: 105px;
    left: 180px;
    width: 83px; }
