.alec {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 100px auto 20px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 1px black solid;
  border-radius: 200px; }
  .alec img {
    width: 100%;
    position: absolute; }
  .alec #body {
    width: 352px;
    top: 43px;
    left: -93px; }
  .alec #head {
    width: 191px;
    top: 146px;
    left: -32px; }
  .alec #beak-top {
    width: 60px;
    top: 189px;
    left: 119px; }
  .alec #beak-bottom {
    width: 93px;
    top: 247px;
    left: 69px; }
  .alec #eye {
    width: 27px;
    top: 80px;
    left: 201px; }
  .alec #head-div {
    width: 518px;
    height: 304px;
    border-radius: 180px;
    left: 100px;
    position: absolute;
    top: -101px; }
  .alec #wing {
    width: 240px;
    top: 212px;
    left: -91px; }

.input {
  width: 300px;
  margin: 0 auto;
  border: 2px solid black; }
  .input input {
    width: 300px;
    border: none;
    font-size: 28px;
    margin: 0;
    padding: 0; }
